<!DOCTYPE html>
<html>
    <head>  
        <meta charset="UTF-8">  
        <title>Employee Records</title>  
         {% load staticfiles %}  
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head> 
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Employee Information</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/show">Home</a></li>
            <li><a href="/emp">Add Employee</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="">About</a></li>
          </ul>
          <form class="navbar-form navbar-left" action="/search/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="srh" class="form-control" placeholder="name or email">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
      </nav> 

      {% block body%}

      {% endblock%}
      <!-- Footer -->
<footer class="page-footer font-small blue" id="foo">

  <!-- Copyright -->
  
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>