{% extends 'base.html' %}
{% block body%} 
<select class="browser-default custom-select">
    <option selected>Filtering</option>
    <option value={{ employeesd }}>Descending</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
<table>  
    <thead>  
    <tr>  
        <th id="thh" style="top:55px; position:sticky;z-index: 1;">Employee ID</th>  
        <th id="thh" style="top:55px; position:sticky;z-index: 1;">Employee Name</th>  
        <th id="thh" style="top:55px; position:sticky;z-index: 1;">Employee Email</th>  
        <th id="thh" style="top:55px; position:sticky;z-index: 1;">Employee Contact</th>
        <th id="thh" style="top:55px; position:sticky;z-index: 1;">Category</th>  
        <th id="thh" style="top:55px; position:sticky;z-index: 1;">Actions</th>
        <th id="thh" style="top:55px; position:sticky;z-index: 1;">Created</th>
        <th id="thh" style="top:55px; position:sticky;z-index: 1;">ago</th>  

    </tr>  
    </thead>  
    <tbody>  
{% for employee in employees %} 
 
    <tr style="z-index:0;">  
        <td>{{ employee.eid }}</td>  
        <td>{{ employee.ename }}</td>  
        <td>{{ employee.eemail }}</td>  
        <td>{{ employee.econtact }}</td>
        <td>{{ employee.ecat }}</td>  
        <td id="ap">  
            <a href="/edit/{{ employee.id }}/" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" ></span><p>Edit</p></a>  
            <a href="/delete/{{ employee.id }}/" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span><p>Delete</p></a>  
        </td>
        <td>{{ employee.created_at }}</td>
        <td>{{ employee.created_at|timesince }}</td>
        <!--<td>{{ employee.created_at|timesince|add:"2" }}</td>-->
        <!--<td>{{ employee.created_at|timeuntil }}</td>--> 
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>   
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>  
<br><br>
<p class="btn btn-dark">Upcoming Borrowing List</p>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Timesince</th>
        <th scope="col">Timeuntil</th>
      </tr>
    </thead>
    <tbody>
    {% for datetest in datetest1 %}
      <tr>
        <td>{{ datetest.tdate }}</td>
        <td>{{ datetest.tdate|timesince }} , <a style="color:rgb(7, 110, 29);">ago</a></td>    
        <td>{{ datetest.tdate|timeuntil }} , <a style="color:crimson;">remaining</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<br><br>
<p class="btn btn-dark">Fines list for Students</p>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Timesince</th>
        <th scope="col">Timeuntil</th>
        <th scope="col">Fine</th>
      </tr>
    </thead>
    <tbody>
    {% for datetest in datetest2 %}
      <tr>
        <td>{{ datetest.tdate }}</td>
        <td>{{ datetest.tdate|timesince }} , <a style="color:rgb(7, 110, 29);">ago</a></td>    
        <td>{{ datetest.tdate|timeuntil }} , <a style="color:crimson;">remaining</a></td>
        <td class="btn btn-danger">{{ datetest.date_diff }} <a>tk</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock%}