{% extends 'base.html' %}
{% block body%} 
<table>  
    <thead>  
    <tr>  
        <th id="thh">Employee ID</th>  
        <th id="thh">Employee Name</th>  
        <th id="thh">Employee Email</th>  
        <th id="thh">Employee Contact</th>  
        <th id="thh">Actions</th>
        <th id="thh">Created</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for employee in employees %}  
    <tr>  
        <td>{{ employee.eid }}</td>  
        <td>{{ employee.ename }}</td>  
        <td>{{ employee.eemail }}</td>  
        <td>{{ employee.econtact }}</td>  
        <td id="ap">  
            <a href="/edit/{{ employee.id }}/" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" ></span><p>Edit</p></a>  
            <a href="/delete/{{ employee.id }}/" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span><p>Delete</p></a>  
        </td>
        <td>{{ employee.created_at }}</td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>  
{% endblock%}