
table
{

	margin-right: 0.5%;
	margin-left: 5%;
 	margin-top: 3%;
	/*box-shadow: 10px 10px 100px blue;*/
}
th
{
	/*border-top: 5px solid rgb(22, 25, 26);*/
	box-shadow: 10px 5px 15px gray;
	color: #000;
	
}
th, td
{
	
	padding: 7px;

}

th:hover
{
	/*border-bottom: 2px solid deepskyblue;
	border-right: 2px solid deepskyblue;*/
	border-radius: 5px;
	transition: 600ms;

}
td
{
	border-right: 1px solid deepskyblue;
	border-bottom: 1px solid deepskyblue;
}
td:hover
{
	transition: 600ms;
	box-shadow: 10px 10px 15px gray;
}
a p{
font-size: 35 px;
float: right;
text-align: center;
}
a span{
margin-right: 5px;
margin-top: 3px;
text-align: center;
}
body{
background: #fff;
}